<% if (typeof cour !=='undefined' ){%> 
<div class="cour-update">
    <form action="/update-cour/<%= cour.id %>" method="post" class="form-anim">
        <fieldset>
            <legend>Modification de cour.title</legend>
            <div class="form-groupe">
            <label for="author">Auteur :</label>
                <input type="text" name="author" id="author" value="<%= cour.author %>">
            </div>
            <div class="form-groupe">
                <label for="title">Titre :</label>
                <input type="text" name="title" id="title" value="<%= cour.title %>">
            </div>
            <div class="form-groupe">
                <label for="summary">Sommaire :</label>
                <textarea name="summary" id="summary" cols="100" rows="10"><%= cour.summary %></textarea>
            </div>
            <div class="form-groupe">
                <label for="content">Contenue :</label>
                <textarea name="content" id="content" cols="100" rows="10"><%= cour.content %></textarea>
            </div>
            <div class="form-groupe">
                <label for="desc">Description :</label>
                <textarea name="desc" id="desc" cols="100" rows="10"><%= cour.description%></textarea>
            </div>
            <div class="form-groupe">
                <label for="time">Temps(minutes) :</label>
                <input type="number" name="time" id="time" value="<%= cour.time%>">
            </div>
            <div class="form-groupe sub">
                <input type="submit" id="update-cour">
            </div>
        </fieldset>
    </form>
</div>
<% }else console.log("no cour") %> 