<!DOCTYPE html>
<html lang="fr">

<head>
      <title>Document</title>
      <%- include('../partials/head') %>
            <meta name="description" content="">
            <meta name="keywords"
                  content="le journal du dév,programmation,informatique,développement,apprendre,communauté,cours,forums">
</head>

<body>
      <%- include('../partials/nav') %>
            <main>
                  <%- include('../partials/header') %>
                        <div id="content">
                              <%- include('../partials/update-formation') %> 
                        </div>
            </main>
            <%- include('../partials/footer') %>
</body>

</html>