<%- include('../partials/header') %> 
<div class="content">
    <% for(const user of users){
        %>
        <form action="admin-user/<%= user.id %>" method="post">
            <div class="fieldset">
                <label for="name">Nom : </label>
                <input type="text" id="name" name="name" value="<%= user.name %>">
            </div>
            <div class="fieldset">
                <label for="email">Email : </label>
                <input name="email" type="email" id="email" value="<%= user.email %>">
            </div>
            <div class="fieldset">
                <label for="bio">Bio : </label>
                <textarea name="bio" id="bio" cols="30" rows="10"><%= user.bio%></textarea>
            </div>
            <div class="fieldset">
                <label for="access">Access : </label>
                <input type="number" id="access" name="access" value="<%= user.access %>" min="0">
            </div>
            <input type="submit" value="Valider">
        </form>
        <%
    } %> 
</div>
<%- include('../partials/footer') %> 