<%- include('../partials/header') %> 
      <div id="content">
            <form action="#" id="container-lessons-filter">
                  <select name="language" id="prog-lang">
                        <option value="1">CSS</option>
                        <option value="2">HTML</option>
                        <option value="3">javaScript</option>
                  </select>
                  <input type="checkbox" name="cours-lessons" id="cours-lessons">
                  <label for="cours-lessons"><span class="cour-input">Cours</span>/<span class="formation-input">formation</span></label>
            </form>
            <div id="lessons-container">
                  <% 
                  const difficulty = ["debutant", "apprenti", "ammateur", "expert"];
                  lessons.forEach(lesson => {
                        if(lesson){
                        %> 
                  <div class="card-lesson">
                        <div>
                              <h2><%= lesson.title %> </h2>
                              <p class="lesson-desc"><%= lesson.description %> </p>
                              <% if(lesson.formationId ){ %>
      
                                    <p class="cursus"> <a href="/cours/<%= lesson.id %>"><%= lesson.formationTitre %>(<%= lesson.order %>/<%= lesson.nbCoursFormation %>)</a></p>
                              <%}%>
                              <p class="level"><%= difficulty[lesson.difficulty-1] %> </p>
                              <p class="time"><%= lesson.time %>min</p>
                              </div>
                  </div>
                  <% };}); %> 
            </div>
            <div id="cursus-container">
                  <% for (const formation of formations) {;%>
                  <a href="/cours/<%= formation.fristCour%>" class="card-cursus">
                        <div>
                              <h2> <%= formation.titre %></h2>
                              <p class="cursus-desc"><%= formation.description%></p>
                              <p class="etapes"><%= formation.nbCours%> étapes</p>
                              
                              </div>
                  </a>
                  <% } %>
            </div>
      </div>
<%- include('../partials/footer') %>
